<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:title) %>
    <%= content_for(:title) %>
  <% else %>
    <title>Modern Mustangs</title>
  <% end %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="assets/mediaqueries.js"></script>
  <![endif]-->
  <script>document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>
</head>
<body class="blog-body">
  <aside class="sidebar">
    <div class="stripe-container">
      <div class="red stripe"></div>
      <div class="white stripe"></div>
      <div class="blue stripe"></div>
      <%= image_tag 'logo.png', class: 'logo' %>
    </div>
  </aside>
  <section class="content">
    <div class="content-inner">
      <div id="user_nav">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>
      <!-- For devise error messages -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </section>
</body>
</html>
